<div>
    <span id="userList"></span>
    <canvas id="canvas" width=500px heigth=500px style="border: 1px solid black;"></canvas>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var topX = 10;
    var topY = 10;
    var length = 20;
    var height = 20;
    var color = getRandomColor();

    const userName = prompt('Enter your user name', '');
    ctx.fillStyle = color;
    ctx.fillRect(topX, topY, length, height);
    document.addEventListener("keydown", keyDownTextField, false);
    window.onload = init;
    window.onbeforeunload  = closing;

    function init() {
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/userListHub").build();

        connection.on("ReceiveUserList", function (users) {
            document.getElementById("userList").textContent = users;
        });
        connection.start().then(function () {
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            };
            fetch(document.URL + '/adduser?username=' + userName, options);
        });
    };

    function closing() {
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        };
        fetch(document.URL + '/removeuser?username=' + userName, options);
    };

    function keyDownTextField(e) {
        var keyCode = e.keyCode;
        if (keyCode == 83) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            topY += 5;
            ctx.fillRect(topX, topY, length, height);
        }
        else if (keyCode == 68) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            topX += 5;
            ctx.fillRect(topX, topY, length, height);
        }
        else if (keyCode == 65) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            topX -= 5;
            ctx.fillRect(topX, topY, length, height);
        }
        else if (keyCode == 87) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            topY -= 5;
            ctx.fillRect(topX, topY, length, height);
        }
    }

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
        
</script>
