<div>
    <span id="userList"></span>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>

        const userName = prompt('Enter your user name', '');
        window.onload = init;
        window.onbeforeunload  = closing;

    function init() {
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/userListHub").build();

        connection.on("ReceiveUserList", function (users) {
            document.getElementById("userList").textContent = users;
        });
        connection.start().then(function () {
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            };
            fetch(document.URL + '/adduser?username=' + userName, options);
        });
        };

        function closing() {
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            };
            fetch(document.URL + '/removeuser?username=' + userName, options);
        };
        
</script>
