<div>
    <span id="userList"></span>
</div>
<script>
    const userName = prompt('Enter your user name', '');
    window.onload = init;
    window.onbeforeunload = closing;

    function init() {
        console.log('User created!');
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        };
        fetch(document.URL + '/adduser?username=' + userName, options);
    };

    function closing() {
        console.log('User removed!');
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        };
        fetch(document.URL + '/removeuser?username=' + userName, options);
    };
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/userList.js"></script>