<div>
    <ul id="userList"></ul>
    <canvas id="canvas" width=500px heigth=500px style="border: 1px solid black;"></canvas>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var topX = 10;
    var topY = 10;
    var length = 20;
    var height = 20;

    const userName = prompt('Enter your user name', '');
    document.addEventListener("keydown", keyDownTextField, false);
    window.onload = init;
    window.onbeforeunload  = closing;

    function init() {
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/userListHub").build();

        connection.on("ReceiveUserList", function (users) {
            setUserList(users);
        });
        connection.start().then(function () {
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            };
            fetch(document.URL + '/adduser?username=' + userName, options);
        });
    };

    function closing() {
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        };
        fetch(document.URL + '/removeuser?username=' + userName, options);
    };

    function setUserList(users) {
        var ul = document.getElementById("userList");
        ul.innerHTML = "";
        Object.keys(users).forEach(function (key) {
            var value = users[key];
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(key));
            li.style.color = value.color;
            ctx.fillStyle = value.color;
            ctx.fillRect(topX, topY, length, height);
            ul.appendChild(li);
        });
    }

    function keyDownTextField(e) {
        var keyCode = e.keyCode;
        if (keyCode == 83) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            topY += 5;
            ctx.fillRect(topX, topY, length, height);
        }
        else if (keyCode == 68) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            topX += 5;
            ctx.fillRect(topX, topY, length, height);
        }
        else if (keyCode == 65) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            topX -= 5;
            ctx.fillRect(topX, topY, length, height);
        }
        else if (keyCode == 87) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            topY -= 5;
            ctx.fillRect(topX, topY, length, height);
        }
    }        
</script>
